---
layout: default
---
<div class="container home">
    <div class="main-splash">
        <span>
            <img src="{{ "/assets/images/logo.svg" | relative_url }}"></img>
            <h5 style="text-transform: uppercase">Cornell University Underwater Autonomous Vehicle</h5>
            <p></p>
        </span>
    </div>
    <div class="row">
        <a href="vehicles.html" id="vehicles" class="three columns panel">
            <span><h2 style="text-transform: uppercase">See Our Submarines</h2></span>
        </a>
        <a href="team.html" id="team" class="three columns panel">
            <span><h2 style="text-transform: uppercase">Meet the Team</h2></span>
        </a>
        <a href="outreach.html" id="outreach" class="three columns panel">
            <span><h2 style="text-transform: uppercase">See us in the Community</h2></span>
        </a>
        <a href="sponsors.html" id="sponsors" class="three columns panel">
            <span><h2 style="text-transform: uppercase">Sponsors Us</h2></span>
        </a>
    </div>
</div>
