<div class="footer">
    <div class="container">
        <div class="center-body row">
            <div class="six columns" id="left-copyright">
                ©1999-2019 Cornell University Autonomous Underwater Vehicle
            </div>
            <div class="six columns right-align" id="right-social">
                <button class="social-media-links">
                    <a href="https://www.facebook.com/cornellauv" target="_blank">
                        <i class="fab fa-facebook icons"></i>
                    </a>
                </button>
                <button class="social-media-links">
                    <a href="https://www.instagram.com/cornell_auv/" target="_blank">
                        <i class="fab fa-instagram icons"></i>
                    </a>
                </button>
                <button class="social-media-links">
                    <a href="https://www.youtube.com/user/CornellAUV" target="_blank">
                        <i class="fab fa-youtube icons"></i>
                    </a>
                </button>
                <button class="social-media-links">
                    <a href="http://linkedin.com/company/cornell-university-autonomous-underwater-vehicle" target="_blank">
                        <i class="fab fa-linkedin icons"></i>
                    </a>
                </button>
                <button class="social-media-links">
                    <a href="https://twitter.com/CUAUV" target="_blank">
                        <i class="fab fa-twitter icons"></i>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
