<div class="navbar sticky">
    <div class="container">
        <div class="center-body row">
            <a href="{{ "/" | relative_url }}" class="four columns">
                <div class="site-logo">
                    <img class="site-logo-text" src="{{ "/assets/images/white_text_no_prop.svg" | relative_url }}" alt="CUAUV">
                    <img class="site-logo-prop" src="{{ "/assets/images/red_prop.svg" | relative_url }}">
                </div>
            </a>
            <div class="eight columns right-align">
                <ul>
                    {% assign pages = site.pages | sort: "order" %}
                    {% for page in pages %}
                    {% if page.title and page.navbar != false %}
                    <li>
                        <a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="hamburger-button" class="one column menu-mobile-button">
                <div>
                    <div class="menu-bar"></div>
                    <div class="menu-bar"></div>
                    <div class="menu-bar third-bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ham-menu" class="hamburger-menu menu-hidden">
    <div class="menu">
        {% assign pages = site.pages | sort: "order" %}
        {% for page in pages %}
        {% if page.title and page.navbar != false %}
        <a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
        {% endif %}
        {% endfor %}
    </div>
</div>
