<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link href="{{ "/assets/images/favicon.ico"       | relative_url }}" rel="icon shortcut" type="image/png">
    <link href="{{ "/assets/images/favicon-32x32.png" | relative_url }}" rel="icon"          type="image/png" sizes="32x32" />
    <link href="{{ "/assets/images/favicon-16x16.png" | relative_url }}" rel="icon"          type="image/png" sizes="16x16" />

    <link href="{{ "/assets/css/skeleton.css"   | relative_url }}" rel="stylesheet">
    <link href="{{ "/assets/css/main.css"       | relative_url }}" rel="stylesheet">
    <link href="{{ "/assets/css/index_page.css" | relative_url }}" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400"      rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700" rel="stylesheet" type="text/css">
</head>

<!--
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129129329-1"></script>
-->
