<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

<script
    defer
    src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
    integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
    crossorigin="anonymous"></script>

<!-- <script src="js/siema.js"    type="text/javascript"></script> -->
<script src="{{ "/assets/js/hamburger.js" | relative_url }}" type="text/javascript"></script>

<script type="text/javascript">
    $(window).scroll(function() {
        var theta = ($(window).scrollTop() / 200) % (2 * Math.PI);
        $('.site-logo-prop').css({ transform: 'rotate(' + theta + 'rad)' });
    });
 $(document).ready(() => {
     //hide if screen too big
     $(window).resize(function() {
         var windowsize = $(window).width();
         if (windowsize > 999) {
             console.log("hiding");
             $("#ham-menu").hide();
         }
     });
 });
</script>
