.margin-less {
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
}
.top {
    background: linear-gradient(rgba(0,0,0,0.625),rgba(0,0,0,0.625)),url($baseurl + "/assets/images/sub.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-bottom: 132px;
    padding-top: 132px;
}
.announcement {
    background: #1c1c1c;
    color: white;
    padding-bottom: 24px;
    padding-top: 24px;
}
.sub-body {
    background: url($baseurl + "/assets/images/castor-pollux-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 24px;
    padding-top: 24px;
}
.sub-info {
    margin-bottom: 24px;
}
.content-half {
    padding-bottom: 16px;
    padding-top: 16px;
}
.card.sub {
    background: white;
    border: #EBEBEB 2px solid;
    height: 300px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 6px;
    width: 75%;
}
a h4, a h5, a p {
    text-decoration: none;
}
.img-container {
    display: block;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 80%;
}
.img-container img {
    width: 100%;
}
.tabs.previous-subs {
    border: none;
}
.tabs-title.card {
    text-align: center;
}
.tabs-title.card .card-divider {
    text-align: center;
}
.tabs-title.card.sub h4, .tabs-title.card.sub p {
    color: #1c1c1c;
}
.tabs-title.card.sub h5 {
    color: #1c1c1c;
}
.tabs-title.card.sub .winner h4 {
    color: red;
}
.slick-dots {
    display: none;
}
.sub-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
}
p {
    font-family: 'Merriweather',serif;
}
