---
---
// Mobile (first)
@media only screen and (max-width: 600px) {
    .panel.three.columns{
        height: 100%;
        width: 100%;
        max-width: 100%;
    }
    .home img{
        width: 80%;
    }
    .main-splash{
        height: 50%;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        display: table;
        background-image: url("../images/splash.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        word-wrap: break-word;
    }
}

// Tablet
@media (max-width: 768px) {
    .panel.three.columns{
        height: 100%;
        width: 50%;
        max-width: 50%;
    }
    .home img{
        width: 60%;
    }
    .main-splash{
        height: 50%;
        width: 100%;
        display: table;
        background-image: url("../images/splash.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        word-wrap: break-word;
    }
}
