---
---
$baseurl: "{{ site.baseurl }}";
@import "shared";

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'alternate_gothic';
  src: url($baseurl + "/assets/font/alternate-gothic-no3-d-webfont.woff2") format("woff2"),
       url($baseurl + "/assets/font/alternate-gothic-no3-d-webfont.woff")  format("woff");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
  font-family: 'alternate_gothic', serif;
}

h4, h5, h6 {
  font-family: 'Helvetica';
}

.center-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-logo {
  height: 40px;
}

.site-logo-text {
  position: absolute;
  z-index: 10;
  margin-left: -20px;
}

.site-logo-prop {
  position: absolute;
  z-index: 10;
  left: 48px;
}

@media (max-width: 399px) {
  .site-logo-prop {
    left: 67px;
  }
}

@media only screen and (max-width: 999px) {
  .navbar ul {
    display: none;
  }

  /*Hamburger Menu Styling*/
  .menu-mobile-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }

  .menu-bar {
    background-color: white;
    height: 4px;
    width: 50px;
    margin-bottom: 8px;
  }

  .third-bar {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 999px) {
  .menu-mobile-button {
    display: none;
  }
}

h4, h5, h6, figCaption {
  font-family: 'Helvetica', serif;
}

/* OPEN HAMBURGER STYLING */
.hamburger-menu {
  position: fixed;
  width: 100%;
  top: 72px;
  z-index: 1;
}

.menu {
  background-color: red;
  text-align: center;
}

.menu a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 150%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.menu a:hover {
  background-color: white;
  color: gray;
}

.menu-hidden {
  display: none;
}

/* INTRO */

.container.home {
  height: calc(100vh - 72px);
  margin-top: 72px;
  width: 100%;
  max-width: 100%;
  margin-left: 0; margin-right: 0;
  text-align: center;
}
.home img{
  margin: 0 auto;
  margin-bottom: 1em;
  width: 33%;
}
.home .row{
  height: 33%;
}

.panel.three.columns{
  text-decoration: none;
  padding: 2em;
  width: 25%;
  max-width: 25%;
  display: table;
  height: 100%;
  color: white;
  text-shadow: 12px 12px 12px rgba(11, 11, 11, 0.25);
  margin: 0;
}

.panel.three.columns:hover{
  color: #1C1C1C;
  text-shadow: 12px 12px 12px rgba(255, 255, 255, 0.5);
}

.panel span{
  display: table-cell;
  vertical-align: middle;
}

.panel#vehicles{
  background:linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)
  ), url("{{ "/assets/images/sub.jpg" | relative_url }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel#vehicles:hover{
  background:linear-gradient(
    rgba(255, 255, 255, 0.66),
    rgba(255, 255, 255, 0.66)
  ), url("{{ "/assets/images/sub.jpg" | relative_url }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel#team{
  background:linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)
  ), url("{{ "/assets/images/team.png" | relative_url }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel#team:hover{
  background:linear-gradient(
    rgba(255, 255, 255, 0.66),
    rgba(255, 255, 255, 0.66)
  ), url("{{ "/assets/images/team.png" | relative_url }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel#outreach{
  background:linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)
  ), url("{{ "/assets/images/girl-scouts.JPG" | relative_url }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel#outreach:hover{
  background:linear-gradient(
    rgba(255, 255, 255, 0.66),
    rgba(255, 255, 255, 0.66)
  ), url("{{ "/assets/images/girl-scouts.JPG" | relative_url }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel#sponsors{
  background:linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)
  ), url("{{ "/assets/images/man-with-sub.jpg" | relative_url }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel#sponsors:hover{
  background:linear-gradient(
    rgba(255, 255, 255, 0.66),
    rgba(255, 255, 255, 0.66)
  ), url("{{ "/assets/images/man-with-sub.jpg" | relative_url }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-splash{
  height: 67%;
  width: 100%;
  display: table;
  background-image: url("{{ "/assets/images/splash.svg" | relative_url }}");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-splash span{
  display: table-cell;
  vertical-align: middle;
}

/* INTRO END */

/* CARD */

#card-light {
  background-color: white;
  color: #1c1c1c;
}

#card-light h2 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1em;
}

#card-light .main {
  padding-top: 8em;
  padding-bottom: 8em;
}

#card-light a {
  color: #4362FF;
  text-transform: none;
}

#card-dark a {
  color: #4362FF;
  text-transform: none;
}

#card-dark {
  background-color: #1c1c1c;
  color: white;
}

#card-dark h2 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1em;
}

#card-dark .main {
  padding-top: 8em;
  padding-bottom: 8em;
}

/* CARD END */

/* END CARD */

#end-card .main {
  padding-top: 8em;
  padding-bottom: 12em;
  margin: auto;
}

#end-card h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1em;
}

#end-card a {
  color: #4362FF;
  text-transform: none;
  text-align: center;
}

/* END CARD END */

/* NAVBAR STYLING */
.navbar {
  background-color: #1c1c1c;
  height: 72px;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ul, li {
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.right-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar img {
  height: 40px;
}

.navbar li {
  list-style: none;
  display:inline-block;
}

.navbar li a {
  color: #dbdbdb;
  text-decoration: none;
  letter-spacing: .02em;
  font-size: 18px;
  margin-left: 1.2em;
}

.navbar li a:hover {
  color: white;
}

/* END NAVBAR STYLING */

/* FOOTER STYLING */

.footer {
  left: 0;
  bottom: 0;
  padding: 20px 0px;
  width: 100%;
  background-color: #1C1C1C;
  color: #fff;
}

.social-media-links{
  border: none;
  background: none;
  padding: 10px 15px;
}

.icons{
  font-size: 24px;
  color: #fff;
}

.headShot{
  width: 130px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.name{
  text-align: center;
}

.titleCenter{
  text-align: center;

}


.img_div {
  float: left;
  text-align: center;

 }

.emptySpace{
  width: 130px;
  height: 225px;
  border: green;
}


#sponsors2 {
    text-align: center;
    background-color: #fff;
}

#sponsors2 img {
    max-width: 100%;
    max-height: 100px;
     padding: 5px;
}

#sponsors2 a {
    color: #222;
}

#sponsors2 .col-md-2, #sponsors2 .col-md-3, #sponsors2 .col-md-4 {
    height: 100px;

}

#sponsors2 h3 {
    font-size: 45px;
}

#sponsors2 img:hover {
    opacity: .7;
}


/* END FOOTER STYLING */
