---
layout: default
title: Join
permalink: /join
order: 5
---
<div class="container margin-less top">
    <div class="row" style="text-align: center">
        <h1>Apply to join CUAUV!</h1>
    </div>
</div>
<div class="container margin-less announcement">
    <div class="row">
        <div class="twelve columns" style="text-align: center;">
            <h5>We are not currently accepting applications</h5>
        </div>
    </div>
</div>
<div class="container sub-body">
    </center>
    </center>
</div>
