---
layout: default
title: Sponsors
permalink: /sponsors
order: 4
---
<div class = "container margin-less top">
    <div class="row" style="text-align: center">
        <h1>Become a Sponsor</h1>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <div class = "twelve columns">
            <p>The team depends on the generous support of its sponsors and could not exist without them. To become a member of the CUAUV sponsor group, we request a contribution to help support our endeavors in creating and improving autonomous underwater vehicle technology. </p>
            <div class = "row">
                <div class = "six columns">
                    <a href = "pdfs/CUAUV_Sponsorship_Packet_2017.pdf" target= "_blank"><button id="sponsorsbutton" name="singlebutton" class="btn btn-primary pull-center">
                        2017 SPONSORSHIP PACKET
                    </button></a>
                </div>
                <div class = "six columns">
                    <a href = "http://blogs.cornell.edu/teams/2016-teams/cuauv/" target= "_blank" onClick="ga('send', 'event', 'Sponsors', 'Donation Button');"><button id="sponsorsbutton" name="singlebutton" class="btn btn-primary pull-center">
                        MAKE A DONATION TODAY
                    </button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "container">
    <hr/>
    <h3>Platinum Sponsors</h3>
    <hr/>
    <div class = "row">
        <div class="three columns"><a href="http://www.cornell.edu" target="_blank"><img class="u-max-full-width" alt="Cornell University" src="http://cuauv.org/files/images/cornell_logo.preview.png"  ></a></div>
        <div class="three columns"><a href="http://www.monstertool.com" target="_blank"><img class="u-max-full-width" alt="Monster Tool" src="http://cuauv.org/files/images/banner.preview.png"  ></a></div>
        <div class="three columns"><a href="http://www.videoray.com/" target="_blank"><img class="u-max-full-width" alt="VideoRay" src="http://cuauv.org/files/gemini/sponsors/videoray.jpg"  ></a></div>
        <div class="three columns"><a href="http://www.solidworks.com/" target="_blank"><img class="u-max-full-width" alt="SolidWorks" src="http://cuauv.org/files/SolidWorks.jpg"  ></a></div>
        <div class="three columns"><a href="http://www.nexlogic.com" target="_blank"><img class="u-max-full-width" alt="Nexlogic" src="http://cuauv.org/files/nexlogic_logo.jpg"  ></a></div>
        <div class="three columns"><a href="https://www.generalplastics.com/" target="_blank"><img class="u-max-full-width" alt="General Plastics" src="http://cuauv.org/files/gemini/sponsors/GeneralPlatics.jpg"  ></a></div>
        <div class="three columns"><a href="http://www.mathworks.com/" target="_blank"><img class="u-max-full-width" alt="Mathworks" src="http://cuauv.org/files/images/mathworks_logo.preview.jpg"  ></a></div>
        <div class="three columns"><a href="http://seaconworldwide.com/" target="_blank"><img class="u-max-full-width" alt="Seacon" src="http://cuauv.org/files/SponsorLogos/Seacon.jpg"  ></a></div>
        <div class="three columns"><a href="http://www.shell.us/" target="_blank"><img class="u-max-full-width" alt="Shell" src="http://cuauv.org/files/ragnarok/shell.jpg"  ></a></div>
        <div class="three columns"><a href="http://www.portwell.com" target="_blank"><img class="u-max-full-width" alt="Portwell" src="http://cuauv.org/files/images/PortwellLogo_750px_300dpi.jpg"></a></div>
    </div>

    <hr/>
    <h3>Gold Sponsors</h3>
    <hr/>
    <div class = "row">
        <div class="three columns"><a href="http://www.rdinstruments.com" target="_blank"><img class="u-max-full-width" alt="RDI Instruments" src="http://cuauv.org/files/images/TRDIC.JPG"  ></a></div>
        <div class="three columns"><a href="http://www.microstrain.com/" target="_blank"><img class="u-max-full-width" alt="Microstrain" src="http://cuauv.org/files/gemini/LordMicrostrain.jpg"  ></a></div>
        <div class="three columns"><a href="www.seabotix.com" target="_blank"><img class="u-max-full-width" alt="SeaBotix.jpg" src="http://cuauv.org/files/SponsorLogos/SeaBotix.jpg"   ></a></div>
        <div class="three columns"><a href="http://www.seaperch.org/index" target="_blank"><img class="u-max-full-width" alt="Seapearch" src="http://cuauv.org/files/images/SeaPerch_Logo.jpg"   ></a></div>
        <div class="three columns"><a href="http://www.gm.com" target="_blank"><img class="u-max-full-width" alt="GM" src="http://cuauv.org/files/gm_foundation_logo.jpg"   ></a></div>
        <div class="three columns"><a href="http://www.adlinktech.com/" target="_blank"><img class="u-max-full-width" alt="Adlink" src="http://cuauv.org/files/images/LOGO_Adlink2013.preview.jpg"   ></a></div>
        <div class="three columns"><a href="https://www.ieee.org/index.html" target="_blank"><img class="u-max-full-width" alt="IEEE" src="img/ieee.gif"></a></div>
        <div class="three columns"><a href="http://ieee-aess.org/" target="_blank"><img class="u-max-full-width" alt="IEEESPACE" src="img/ieeespace.jpg"></a></div>
        <div class="three columns"><a href="http://www.sgstool.com/default.aspx" target="_blank"><img class="u-max-full-width" alt="SGS Tool" src="http://cuauv.org/files/images/SGS_logo_wTAG.jpg"></a></div>
        <div class="three columns"><a href="http://connecttech.com/" target="_blank"><img class="u-max-full-width" alt="Connect Tech" src="img/ConntectTechLogo.png"></a></div>
        <div class="three columns"><a href="http://www.nvidia.com/page/home.html" target="_blank"><img class="u-max-full-width" alt="Nvidiac" src="img/NVLogo_2D_H.png"></a></div>
    </div>

    <hr/><h3>Silver Sponsors</h3><hr/>
    <div class = "row">
        <div class="two columns"><a href="http://www.cadsoftusa.com/" target="_blank"><img class="u-max-full-width" alt="Eagle PCB" src="http://cuauv.org/files/images/eagle pcb.preview.jpg"></a></div>
        <div class="two columns"><a href="http://www.intel.com/?en_US_01" target="_blank"><img class="u-max-full-width" alt="Intel" src="https://www.smpte.org/sites/default/files/images/intel_small_news_logo.jpg"></a></div>
        <div class="two columns"><a href="http://www2.leddartech.com/" target="_blank"><img class="u-max-full-width" alt="LEDDAR" src="http://cuauv.org/files/gemini/sponsors/LeddarTech.png"></a></div>
        <div class="two columns"><a href="http://www.molex.com" target="_blank"><img class="u-max-full-width" alt="Molex" src="http://cuauv.org/files/SponsorLogos/Molex.jpg"></a></div>
        <div class="two columns"><a href="http://advanceenergyinc.homestead.com/" target="_blank"><img class="u-max-full-width" alt="Advance Energy Inc." src="http://advanced-energy.com/images/2015/logo.png"></a></div>
        <div class="two columns"><a href="http://en.ids-imaging.com/" target="_blank"><img class="u-max-full-width" alt="IDS" src="http://cuauv.org/files/ragnarok/IDS.png"></a></div>
        <div class="two columns"><a href="http://www.conocophillips.com/Pages/default.aspx" target="_blank"><img class="u-max-full-width" alt="ConocoPhillips" src="http://cuauv.org/files/ragnarok/ConocoPhillips.png"></a></div>
        <div class="two columns"><a href="http://www.lockheedmartin.com/" target="_blank"><img class="u-max-full-width" alt="Lockheed Martin" src="http://www.lockheedmartin.com/etc/designs/lockheed/img/logo.png"></a></div>
        <div class="two columns"><a href="http://www.pnicorp.com/" target="_blank"><img class="u-max-full-width" alt="PNI" src="http://cuauv.org/files/images/PNI.png"></a></div>
        <div class="two columns"><a href="http://sparton.com/" target="_blank"><img class="u-max-full-width" alt="Sparton" src="http://cuauv.org/files/images/Sparton_Navigation_Logo.preview.jpg"></a></div>
        <div class="two columns"><a href="http://www.alliedvisiontec.com" target="_blank"><img class="u-max-full-width" alt="AVT" src="http://cuauv.org/files/images/Allied-Logo2c+ copy.jpg"></a></div>
        <div class="two columns"><a href="http://www.surfacefinishtech.com/" target="_blank">Surface Finish Tech</a></div>
        <div class="two columns"><a href="http://corporate.exxonmobil.com/" target="_blank"><img class="u-max-full-width" src="http://cuauv.org/files/ragnarok/ExxonMobil.jpg"></a></div>
        <div class="two columns"><a href="http://www.ge.com" target="_blank"><img class="u-max-full-width" alt="GE" src="http://cuauv.org/files/SponsorLogos/Ge.jpg"></a></div>
        <div class="two columns"><a href="http://www.7pcb.ca/" target="_blank"><img class="u-max-full-width" alt="Bittele" src="http://cuauv.org/files/bittele.png"></a></div>
        <div class="two columns"><a href="http://www.skbcases.com/industrial/" target="_blank"><img class="u-max-full-width" alt="SKB" src="http://cuauv.org/files/SponsorLogos/SKB.png"></a></div>
        <div class="two columns"><a href="http://www.teledyne-reson.com/" target="_blank"><img class="u-max-full-width" alt="Teledyne Reson" src="http://cuauv.org/files/SponsorLogos/teledyne_reson_logo.png"></a></div>
        <div class="two columns"><a href="http://www.ximea.com/" target="_blank"><img class="u-max-full-width" alt="Ximea" src="http://cuauv.org/files/SponsorLogos/ximea_logo.png"></a></div>
        <div class="two columns"><a href="" target="_blank"><img class="u-max-full-width" alt="alumna" src="http://cuauv.org/files/SponsorLogos/Garmezy_0.PNG"></a></div>
        <div class="two columns"><a href="http://www.4pcb.com/" target="_blank"><img class="u-max-full-width" alt="Advanced Circuits" src="http://cuauv.org/files/images/AdvancedCircuits.png"></a></div>
        <div class="two columns"><a href="http://www.congatec.com/us" target="_blank"><img class="u-max-full-width" alt="Congatec" src="http://cuauv.org/files/SponsorLogos/congatec.jpg"></a></div>
    </div>

    <hr/>
    <h3>Bronze Sponsors</h3>
    <hr/>
    <div class = "row">
        <div class="two columns"><a href="http://www.georgiacase.com/" target="_blank"><img class="u-max-full-width" alt="Georgia Case" src="http://cuauv.org/files/gemini/sponsors/GeorgiaCase.jpg" ></a></div>
        <div class="two columns"><a href="http://www.adata-group.com/index_US.html" target="_blank"><img class="u-max-full-width" alt="Adata" src="http://cuauv.org/files/ragnarok/adata.jpg"></a></div>
        <div class="two columns"><a href="http://www.3dconnexion.com/" target="_blank"><img class="u-max-full-width" alt="3Dconnexion" src="http://cuauv.org/files/images/3Dconnexion_vertical_cmyk.jpg"></a></div>
        <div class="two columns"><a href="http://www.sensata.com/" target="_blank"><img class="u-max-full-width" alt="Sensata" src="http://cuauv.org/files/images/Sensata Logo.preview.jpg"></a></div>
        <div class="two columns"><a href="http://www.digikey.com" target="_blank"><img class="u-max-full-width" alt="Digikey" src="http://cuauv.org/files/SponsorLogos/Digikey.jpg"></a></div>
        <div class="two columns"><a href="http://www.polymerplastics.com" target="_blank"><img class="u-max-full-width" alt="Polymer Plastics" src="http://cuauv.org/files/ppclogoclear.gif"></a></div>
        <div class="two columns"><a href="http://www.jets.aero/" target="_blank"><img class="u-max-full-width" src="http://cuauv.org/files/images/jetvend.png"></a></div>
        <div class="two columns"><a href="https://www.cayugaxpress.com/" target="_blank"><img class="u-max-full-width" alt="Cayuga Express" src="http://cuauv.org/files/SponsorLogos/229335.gif"></a></div>
        <div class="two columns"><a href="http://www.maxamps.com/" target="_blank"><img class="u-max-full-width" alt="MaxAmps" src="http://cuauv.org/files/ragnarok/Maxamps_Logo.png"></a></div>
        <div class="two columns"><a href="http://www.pneumadyne.com/" target="_blank"><img class="u-max-full-width" src="http://cuauv.org/files/gemini/sponsors/Pneumadyne.jpg"></a></div>
        <div class="two columns"><a href="http://www.dominos.com/" target="_blank"><img class="u-max-full-width" src="http://cuauv.org/files/images/Dominos Logo.png"></a></div>
        <div class="two columns"><a href="http://www.diabgroup.com/" target="_blank"><img class="u-max-full-width" alt="DIAB" src="http://cuauv.org/files/ragnarok/DIAB.png"></a></div>
        <div class="two columns"><a href="http://www.drexel.com/" target="_blank"><img class="u-max-full-width" alt="Drexel" src="http://cuauv.org/files/gemini/DrexelUniversity.jpeg"></a></div>
        <div class="two columns"><a href="http://www.theshelvingstore.com//" target="_blank"><img class="u-max-full-width" alt="The Shelving Store" src="http://cuauv.org/files/gemini/sponsors/the%20shelving%20store.png"></a></div>
        <div class="two columns"><a href="http://www.7pcbassembly.com/" target="_blank"><img class="u-max-full-width" alt="Asian Circuits" src="http://cuauv.org/files/SponsorLogos/AsianCircuits.png"></a></div>
        <div class="two columns"><a href="http://www.7pcbmanufacturing.com/" target="_blank"><img class="u-max-full-width" alt="Fast Circuits" src="http://cuauv.org/files/FastCircuit_logo.jpg"></a></div>
        <div class="two columns"><a href="http://lumeriamaui.com//" target="_blank"><img class="u-max-full-width" alt="Lumeria" src="http://cuauv.org/files/lumeria.jpg"></a></div>
        <div class="two columns"><a href="http://obryanlaw.net//" target="_blank"><img class="u-max-full-width" alt="OBryan" src="http://cuauv.org/files/obryan.png"></a></div>
        <div class="two columns"><a href="http://homefirstcertified.com//" target="_blank"><img class="u-max-full-width" alt="Home First Certified" src="http://cuauv.org/files/HomeFirstLogo.png"></a></div>
        <div class="two columns"><a href="http://www.rhinoshielddealers.com/" target="_blank"><img class="u-max-full-width" alt="Rhinosheilds" src="http://cuauv.org/files/SponsorLogos/rhinoshield.gif"></a></div>
        <div class="two columns"><a href="http://www.schulmanfamilylawyers.com/" target="_blank"><img class="u-max-full-width" alt="schulman" src="http://cuauv.org/files/SponsorLogos/schulman.jpg"></a></div>
        <div class="two columns"><a href="http://www.skin-beautiful.com/" target="_blank"><img class="u-max-full-width" alt="skinbeautiful" src="http://cuauv.org/files/SponsorLogos/skinbeautiful.png"></a></div>
        <div class="two columns"><a href="http://www.theimagingsource.com/en_US/" target="_blank"><img class="u-max-full-width" alt="ImagingSource" src="http://cuauv.org/files/SponsorLogos/ImagingSource.png"></a></div>
        <div class="two columns"><a href="http://www.ftdichip.com/" target="_blank"><img class="u-max-full-width" alt="FTDI" src="http://cuauv.org/files/SponsorLogos/FTDI%20Chip%20Logo.gif"></a></div>
        <div class="two columns"><a href="https://www.studypool.com/" target="_blank"><img class="u-max-full-width" alt="Logo of StudyPool" src="img/studypool.png"></a></div>
        <div class="two columns"><a href="http://www.inkaddict.com/" target="_blank"><img class="u-max-full-width" alt="InkAddict" src="http://cuauv.org/files/SponsorLogos/InkAddict.jpeg"></a></div>
        <div class="two columns"><a href="http://www.emacinc.com/index.php" target="_blank"><img class="u-max-full-width" alt="EMAC" src="http://cuauv.org/files/SponsorLogos/emac.png"></a></div>
        <div class="two columns"><a href="http://www.wallsidewindows.com/" target="_blank"><img class="u-max-full-width" alt="wallside" src="http://cuauv.org/files/SponsorLogos/wallside.png"></a></div>
        <div class="two columns"><a href="http://www.azeusconvene.com/board-portal" target="_blank"><img class="u-max-full-width" alt="Logo of Convene Board Portal" src="http://cuauv.org/files/SponsorLogos/azeusConvene.png"></a></div>
        <div class="two columns"><a href="http://www.aavid.com/" target="_blank"><img class="u-max-full-width" alt="Logo of Aavid" src="http://cuauv.org/files/SponsorLogos/aavidLogo.png"></a></div>
        <div class="two columns"><a href="http://www.RJEInt.com/" target="_blank"><img class="u-max-full-width" alt="RJE" src="img/rje.jpg"></a></div>
        <div class="two columns"><a href="http://www.TDK.com/" target="_blank"><img class="u-max-full-width" alt="TDK" src="img/TDK_logo.jpg"></a></div>


        <div class="two columns"><a href="https://www.coupons.com/coupon-codes/amazon/" target="_blank"><img class="u-max-full-width" alt="Logo of Aavid" src="img/coupons.png"></a></div>
    </div>

    <hr/>
    <h3>Previous Sponsors</h3>
    <hr/>
    <div class = "row">
        <div class="one columns"><a href="http://www.americanpiezo.com" target="_blank"><img class="u-max-full-width" alt="American Piezo" src="http://cuauv.org/files/SponsorLogos/APC.jpg"></a></div>
        <div class="one columns"><a href="http://www.deepsea.com" target="_blank"><img class="u-max-full-width" alt="Deepsea" src="http://cuauv.org/files/deepsea.jpg"></a></div>
        <div class="one columns"><a href="http://www.edmundoptics.com" target="_blank"><img class="u-max-full-width" alt="Edmund Optics" src="http://cuauv.org/files/images/edmund_optics_logo.jpg"></a></div>
        <div class="one columns"><a href="http://www.vision1.com" target="_blank"><img class="u-max-full-width" alt="Image Labs" src="http://cuauv.org/files/images/ImageLabs%20Logo.preview.JPG"></a></div>
        <div class="one columns"><a href="http://www.maxonmotorusa.com/" target="_blank"><img class="u-max-full-width" alt="Maxon" src="http://www.globalspec.com/MaxonPrecisionMotors/logo.jpg"></a></div>
        <div class="one columns"><a href="http://www.ocean-server.com" target="_blank"><img class="u-max-full-width" alt="OceanServer" src="http://cuauv.org/files/SponsorLogos/OceanServer.jpg"></a></div>
        <div class="one columns"><a href="http://www.patriotmem.com" target="_blank"><img class="u-max-full-width" alt="Patriot Memory" src="http://cuauv.org/files/SponsorLogos/PatriotMemory.jpg"></a></div>
        <div class="one columns"><a href="http://www.pelican.com/home.php" target="_blank"><img class="u-max-full-width" alt="Pelican" src="http://cuauv.org/files/PelicanStormLogo_Color.jpg"></a></div>
        <div class="one columns"><a href="http://www.polyformus.com/" target="_blank"><img class="u-max-full-width" alt="Polyform" src="http://cuauv.org/files/images/Polyform_Logo copy.jpg"></a></div>
        <div class="one columns"><a href="http://www.theiatechnologies.com/" target="_blank"><img class="u-max-full-width" alt="Theia Technologies.jpg" src="http://cuauv.org/files/Theia%20Technologies.jpg"></a></div>
        <div class="one columns"><a href="http://www.moog.com/" target="_blank"><img class="u-max-full-width" alt="Moog" src="http://cuauv.org/files/SponsorLogos/Prizm.jpg"></a></div>
    </div>
</div>
