---
layout: default
title: Team
permalink: /team
order: 1
---
<div id="card-dark">
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="six columns">
                    <h2>Software Team</h2>
                    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </h6>
                </div>
                <!-- Profiles  -->
                <div class="six columns">
                    <h3 class = 'titleCenter'> Meet the Team </h3>

                    <h5 class = 'titleCenter'> Leadership </h5>

                    <div class="img_div">
                        <img class= "headShot"  src="images/whiteDude.jpg"></img>
                        <figcaption> Adam Steward  </figcaption>
                    </div>

                    <div class="img_div">
                        <img class= "headShot"  src="images/whiteDude.jpg"></img>
                        <figcaption>  Adam Steward  </figcaption>
                    </div>


                    <div class="emptySpace">
                    </div>

                    <h5 class = 'titleCenter'> Members </h5>


                    <div class="img_div">
                        <img class= "headShot"  src="images/whiteDude.jpg"></img>
                        <figcaption>  Adam Steward  </figcaption>
                    </div>

                    <div class="img_div">
                        <img class= "headShot"  src="images/whiteDude.jpg"></img>
                        <figcaption> Adam Steward  </figcaption>
                    </div>

                    <div class="img_div">
                        <img class= "headShot"  src="images/whiteDude.jpg"></img>
                        <figcaption> Adam Steward  </figcaption>
                    </div>

                    <div class="img_div">
                        <img class= "headShot"  src="images/whiteDude.jpg"></img>
                        <figcaption> Adam Steward  </figcaption>
                    </div>
                </div>

                <!-- Profiles  -->

            </div>
        </div>
    </div>


    <div id="card-light">
        <div class="container">
            <div class="main">
                <div class="row">
                    <div class="six columns">
                        <h2>Mechanical Team</h2>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </h6>
                    </div>
                    <div class="six columns">
                        <h3 class = 'titleCenter'> Meet the Team </h3>

                        <h5 class = 'titleCenter'> Leadership </h5>

                        <div class="img_div">
                            <img class= "headShot"  src="images/whiteDude.jpg"></img>
                            <figcaption> Adam Steward  </figcaption>
                        </div>



                        <div class="emptySpace">
                        </div>

                        <h5 class = 'titleCenter'> Members </h5>


                        <div class="img_div">
                            <img class= "headShot"  src="images/whiteDude.jpg"></img>
                            <figcaption>  Adam Steward  </figcaption>
                        </div>

                        <div class="img_div">
                            <img class= "headShot"  src="images/whiteDude.jpg"></img>
                            <figcaption> Adam Steward  </figcaption>
                        </div>

                        <div class="img_div">
                            <img class= "headShot"  src="images/whiteDude.jpg"></img>
                            <figcaption> Adam Steward  </figcaption>
                        </div>

                        <div class="img_div">
                            <img class= "headShot"  src="images/whiteDude.jpg"></img>
                            <figcaption> Adam Steward  </figcaption>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>


    <div id="card-dark">
        <div class="container">
            <div class="main">
                <div class="row">
                    <div class="six columns">
                        <h2>Electrical Team</h2>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="card-light">
        <div class="container">
            <div class="main">
                <div class="row">
                    <div class="six columns">
                        <h2>Business Team</h2>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
